src/main/mule/batchprocessing-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1bfefb4a-748f-4139-bbe4-f5dcc16b6d0f" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="batchprocessing-demoFlow" doc:id="ef99cedd-9bf9-4100-b806-367b03e37ed7" >
		<http:listener doc:name="Listener" doc:id="fff5cecf-c560-45de-bed5-f36163daf52f" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[[1,2,'a',4,5,'b','c',6]]" doc:name="[1,2,'a',4,5,'b','c',6]" doc:id="21f21170-ec0c-4c07-8927-43dfaff84596" />
		<batch:job jobName="Batch_Job" doc:id="c52839e5-ec3e-4eab-8f86-4231b74a0c94" maxFailedRecords="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="f1ad4414-c366-4b71-9dc4-dc73ee9a90ae" acceptPolicy="ALL">
					<set-payload value="#[payload * 10]" doc:name="payload * 10" doc:id="ecc68d34-6163-4e52-a4fb-053903335294" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d3421bbd-f96a-4c1f-96f0-b85390dc64d9" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="a10a077e-3559-44df-897b-1ac391ace044" message='#[output application/json&#10;---&#10;payload]'/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="82d225bc-aaf8-4c8e-84a8-d307bc294270" acceptPolicy="ALL">
					<set-payload value="#[payload + 5]" doc:name="payload + 5" doc:id="2783d586-f300-4e50-80ca-ec95ca4cb6b6" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="392c80cb-cc89-48e5-b4ff-db831890598a" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="67785e8a-0512-47f3-a9d0-9ae56e32f913" message='#[payload]' />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="74db397f-9ee1-4afc-adcb-5e72a6e175d0" message="#[output application/json&#10;---&#10;payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
